.container h2{
    margin-bottom: 32px;
    font-size: 28px;
}

.venues {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-1{
    display: flex;
    gap: 40px;
  }
  .section-2{
    display: flex;
    gap: 40px;
  }
  button{
    margin-left: 140px;
  }
  .venue-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    text-align: left;
  }
  
  .venue-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 12px;
  }
  
  .venue-card h3 {
    margin: 8px 0;
  }
  
  .venue-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .venue-card button:hover {
    background-color: #0056b3;
  }